body {
	background-color: rgb(44, 47, 51); /* dark grey */
	font-family:Alata;
	color: white;
	padding: 0px;
	margin: 0px;
	padding-top: 100px;
}

.navbar {
	text-align:right;
	background-color: rgb(54, 57, 63); /* discord grey */
	position: fixed; 
	top:0;
	z-index: 500;
	width: 100%;
}

.navbar a {
	font-size: 22px;
	display: inline-block;
	padding-top: 20px;	
	padding-bottom: 20px;
	padding-right:50px;
}

a.navbar:hover {
	color: pink;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.features {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	
}

h1 { /* page title */
	font-size:70px;
	text-align:center;
}

h2 { /* home page dinkbot title */
	font-size:100px;
	line-height: 200px;
	text-align:center;
}

h3 { /* home page dinkbot subtitle */
	font-size:30px;
	text-align:center;
}

h4 { /*general text*/
	font-size:20px;
	text-align:center;
}

h5 { /* general text titles */
	font-size:30px;
	text-align:center;
}
a.button {
	background-color: transparent;
	padding: 8px 16px;
	text-align: center;
	display: inline-block;
	border: 2px solid white;
	border-radius: 7px 7px 7px 7px; 
	font-size: 20px;
}

a.button:hover{
	background-color: white;
	color: rgb(54, 57, 63); /* dark grey */
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	color: pink;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  
}

.grid-item {
  padding: 20px;
  padding-bottom: 50px;
  font-size: 20px;
  min-width: 400px;
  text-align: left;
} 

/* resize on mobile */
@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}
